node-red/flows.json
[{"id":"c4d59225.3818f","type":"tab","label":"Home","disabled":false,"info":""},{"id":"193b2100.c94e0f","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true},{"id":"20b95338.1b1d4c","type":"debug","z":"c4d59225.3818f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":984,"y":779,"wires":[]},{"id":"5730eade.0ddac4","type":"api-call-service","z":"c4d59225.3818f","name":"Slack","server":"193b2100.c94e0f","service_domain":"notify","service":"slack","data":"{}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":988,"y":683,"wires":[[]]},{"id":"ea403f3b.a939c","type":"function","z":"c4d59225.3818f","name":"Location changed message","func":"var old_state = msg.data.old_state;\nvar new_state = msg.data.new_state;\n\nif( old_state.state == new_state.state ) {\n    return null;\n}\n\n\n// Don't promote a \"known\" new state unless the accuracy is strong enough.\n//if( new_state.state != \"not_home\" ) {\n//    if( new_state.attributes.gps_accuracy < 16 ) {\n//        return null;\n//    }\n//}\n\n\nmsg.payload = { \n    data: {\n        \"target\":\"#home\",\n        \"message\": new_state.attributes.nickname + \" - \" + new_state.state, // + \"\\nAddress: \" + new_state.attributes.address + \"\\nAccuracy: \" + new_state.attributes.gps_accuracy + \" - \" + new_state.attributes.source_type\n    } \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":544,"y":726,"wires":[["5730eade.0ddac4"]]},{"id":"16936d58.b138f3","type":"server-state-changed","z":"c4d59225.3818f","name":"Jason location","server":"193b2100.c94e0f","entityidfilter":"device_tracker.google_maps_111034445952431641993","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":111,"y":677,"wires":[["ea403f3b.a939c","62e69de7.5217c4"]]},{"id":"bcc39a80.64a968","type":"server-state-changed","z":"c4d59225.3818f","name":"Christina location","server":"193b2100.c94e0f","entityidfilter":"device_tracker.google_maps_114963797368641553787","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":120,"y":759,"wires":[["ea403f3b.a939c","62e69de7.5217c4"]]},{"id":"4d717be0.2a5734","type":"sun events","z":"c4d59225.3818f","testmode":false,"verbose":true,"topic":"","name":"","x":128,"y":89,"wires":[["a79b1764.772068"]]},{"id":"a79b1764.772068","type":"switch","z":"c4d59225.3818f","name":"Respond to sun","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunriseEnd","vt":"str"},{"t":"eq","v":"goldenHourEnd","vt":"str"},{"t":"eq","v":"goldenHour","vt":"str"},{"t":"eq","v":"sunsetStart","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":325,"y":90,"wires":[["d51a98.c9fe2568"],[],["1b31edda.3b4232"],["5001bb76.874364"]]},{"id":"5001bb76.874364","type":"api-call-service","z":"c4d59225.3818f","name":"Front door on","server":"193b2100.c94e0f","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.front_door\"}","mergecontext":"","x":560,"y":132,"wires":[[]]},{"id":"1b31edda.3b4232","type":"api-call-service","z":"c4d59225.3818f","name":"Living room lamp on","server":"193b2100.c94e0f","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room_lamp\",\"brightness_pct\":\"70\",\"transition\":10}","mergecontext":"","x":580,"y":81,"wires":[[]]},{"id":"d51a98.c9fe2568","type":"api-call-service","z":"c4d59225.3818f","name":"Front door off","server":"193b2100.c94e0f","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.front_door\"}","render_data":false,"mergecontext":"","x":562,"y":30,"wires":[[]]},{"id":"ac40e56f.9bfeb8","type":"api-call-service","z":"c4d59225.3818f","name":"Living room lights off","server":"193b2100.c94e0f","service_domain":"light","service":"turn_off","data":"{\"entity_id\":[\"light.living_room_lamp\",\"light.living_room_track\"],\"transition\":30}","mergecontext":"","x":576,"y":224,"wires":[[]]},{"id":"25106513.e688aa","type":"inject","z":"c4d59225.3818f","name":"2:15 AM","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"15 02 * * *","once":false,"onceDelay":0.1,"x":125,"y":224,"wires":[["ac40e56f.9bfeb8"]]},{"id":"62e69de7.5217c4","type":"api-current-state","z":"c4d59225.3818f","name":"Garage Door Status","server":"193b2100.c94e0f","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":false,"entity_id":"binary_sensor.garage_door","state_type":"str","outputs":2,"x":412,"y":597,"wires":[["d1e52a77.09c168"],[]]},{"id":"d1e52a77.09c168","type":"function","z":"c4d59225.3818f","name":"Garage door is open message","func":"var old_state = msg.data.old_state;\nvar new_state = msg.data.new_state;\n\nif( old_state.state == new_state.state ) {\n    return null;\n}\n\n\nvar leftHome = old_state.state == \"home\" & new_state.state != \"home\";\nif( !leftHome ) {\n    return null;\n}\n\n\nmsg.payload = { \n    data: {\n        \"title\":\"What?!\",\n        \"target\":\"#home\",\n        \"message\": new_state.attributes.nickname + \" left home and the garage door is open!\"\n    } \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":595,"wires":[["5730eade.0ddac4","4daa176b.f52dd8"]]},{"id":"4daa176b.f52dd8","type":"api-call-service","z":"c4d59225.3818f","name":"SMS","server":"193b2100.c94e0f","service_domain":"notify","service":"gmail_sms","data":"{}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":989,"y":612,"wires":[[]]},{"id":"3ec55ddf.ba2c42","type":"server-state-changed","z":"c4d59225.3818f","name":"Proximity","server":"193b2100.c94e0f","entityidfilter":"proximity.home","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":100,"y":446,"wires":[[]]}]