node-red/flows.json
[{"id":"bd9f9cae.8a4f6","type":"tab","label":"Home","disabled":false,"info":""},{"id":"c6f0f8e.947a808","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true},{"id":"ce6d8190.fb3c6","type":"debug","z":"bd9f9cae.8a4f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":984,"y":779,"wires":[]},{"id":"77f560c7.fa3f9","type":"api-call-service","z":"bd9f9cae.8a4f6","name":"Slack","server":"c6f0f8e.947a808","service_domain":"notify","service":"slack","data":"{}","mergecontext":"","x":988,"y":683,"wires":[[]]},{"id":"66355618.7de8f8","type":"function","z":"bd9f9cae.8a4f6","name":"Location changed message","func":"var old_state = msg.data.old_state;\nvar new_state = msg.data.new_state;\n\nif( old_state.state == new_state.state ) {\n    return null;\n}\n\n\n// Don't promote a \"known\" new state unless the accuracy is strong enough.\n//if( new_state.state != \"not_home\" ) {\n//    if( new_state.attributes.gps_accuracy < 16 ) {\n//        return null;\n//    }\n//}\n\n\nmsg.payload = { \n    data: {\n        \"target\":\"#home\",\n        \"message\": \"New location for \" + new_state.attributes.nickname + \": \" + new_state.state + \"\\nAddress: \" + new_state.attributes.address + \"\\nAccuracy: \" + new_state.attributes.gps_accuracy + \" - \" + new_state.attributes.source_type\n    } \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":638,"y":728,"wires":[["77f560c7.fa3f9","ce6d8190.fb3c6"]]},{"id":"445c635b.31ba2c","type":"server-state-changed","z":"bd9f9cae.8a4f6","name":"Jason location","server":"c6f0f8e.947a808","entityidfilter":"device_tracker.google_maps_111034445952431641993","entityidfiltertype":"exact","haltifstate":"","outputinitially":false,"x":111,"y":677,"wires":[["66355618.7de8f8"]]},{"id":"54dbcb57.8da4f4","type":"server-state-changed","z":"bd9f9cae.8a4f6","name":"Christina location","server":"c6f0f8e.947a808","entityidfilter":"device_tracker.google_maps_114963797368641553787","entityidfiltertype":"exact","haltifstate":"","outputinitially":false,"x":120,"y":755,"wires":[["66355618.7de8f8"]]},{"id":"49823f48.83ebb","type":"server-state-changed","z":"bd9f9cae.8a4f6","name":"Door motion","server":"c6f0f8e.947a808","entityidfilter":"binary_sensor.door_motion","entityidfiltertype":"exact","haltifstate":"","outputinitially":false,"x":108,"y":509,"wires":[["487d3bf4.bbb254"]]},{"id":"487d3bf4.bbb254","type":"function","z":"bd9f9cae.8a4f6","name":"Door motion?","func":"var old_state = msg.data.old_state;\nvar new_state = msg.data.new_state;\n\nif( old_state.state == new_state.state ) {\n    return [ null, null ];\n}\n\n\nif( new_state.state == \"on\" ) {\n    return [ msg, null ];\n}\n\n\nif( new_state.state == \"off\" ) {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":322,"y":509,"wires":[["30a04c69.baabb4"],[]]},{"id":"d5ee0e25.408c5","type":"function","z":"bd9f9cae.8a4f6","name":"Image snapshot message","func":"msg.payload = { \n    data: {\n        \"target\":\"#home\",\n        \"message\": \"Motion detected!\\nhttps://home.hutenosa.com:8123/local/image.jpg\"\n    } \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":817,"y":500,"wires":[["77f560c7.fa3f9"]]},{"id":"30a04c69.baabb4","type":"api-call-service","z":"bd9f9cae.8a4f6","name":"Front door snapshot","server":"c6f0f8e.947a808","service_domain":"camera","service":"snapshot","data":"{\"entity_id\":\"camera.front_door\", \"filename\":\"/config/www/image.jpg\"}","mergecontext":"","x":552,"y":499,"wires":[["d5ee0e25.408c5"]]},{"id":"a372895d.2344d8","type":"sun events","z":"bd9f9cae.8a4f6","testmode":false,"verbose":true,"topic":"","name":"","x":128,"y":89,"wires":[["d3e68b6c.a2b768"]]},{"id":"d3e68b6c.a2b768","type":"switch","z":"bd9f9cae.8a4f6","name":"Respond to sun","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunriseEnd","vt":"str"},{"t":"eq","v":"goldenHourEnd","vt":"str"},{"t":"eq","v":"goldenHour","vt":"str"},{"t":"eq","v":"sunsetStart","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":325,"y":90,"wires":[["161b38c3.4d5597"],[],["9f5ab018.3931c"],["bde50a47.cf24d8"]]},{"id":"bde50a47.cf24d8","type":"api-call-service","z":"bd9f9cae.8a4f6","name":"Front door switch on","server":"c6f0f8e.947a808","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.front_door\"}","mergecontext":"","x":580,"y":132,"wires":[[]]},{"id":"9f5ab018.3931c","type":"api-call-service","z":"bd9f9cae.8a4f6","name":"Living room lamp on","server":"c6f0f8e.947a808","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room_lamp\",\"brightness_pct\":\"70\",\"transition\":10}","mergecontext":"","x":580,"y":81,"wires":[[]]},{"id":"161b38c3.4d5597","type":"api-call-service","z":"bd9f9cae.8a4f6","name":"Front door switch off","server":"c6f0f8e.947a808","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.front_door\"}","mergecontext":"","x":582,"y":30,"wires":[[]]},{"id":"1ada60c1.15a2bf","type":"api-call-service","z":"bd9f9cae.8a4f6","name":"Living room lights off","server":"c6f0f8e.947a808","service_domain":"light","service":"turn_off","data":"{\"entity_id\":[\"light.living_room_lamp\",\"light.living_room_track\"],\"transition\":30}","mergecontext":"","x":577,"y":225,"wires":[[]]},{"id":"3baf76d2.ef31ba","type":"inject","z":"bd9f9cae.8a4f6","name":"2:15 AM","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"15 02 * * *","once":false,"onceDelay":0.1,"x":125,"y":224,"wires":[["1ada60c1.15a2bf"]]}]