node-red/flows.json
[{"id":"bd9f9cae.8a4f6","type":"tab","label":"Home","disabled":false,"info":""},{"id":"c6f0f8e.947a808","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true},{"id":"ce6d8190.fb3c6","type":"debug","z":"bd9f9cae.8a4f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":363,"wires":[]},{"id":"77f560c7.fa3f9","type":"api-call-service","z":"bd9f9cae.8a4f6","name":"Slack","server":"c6f0f8e.947a808","service_domain":"notify","service":"slack","data":"{}","mergecontext":"","x":793,"y":270,"wires":[[]]},{"id":"66355618.7de8f8","type":"function","z":"bd9f9cae.8a4f6","name":"Device location changed","func":"var new_state = msg.data.new_state;\nvar old_state = msg.data.old_state;\n\nif( new_state.state == old_state.state ) {\n    return null;\n}\n\n\nmsg.payload = { \n    data: {\n        \"target\":\"#home\",\n        \"message\": \"New location for \" + new_state.attributes.nickname + \": \" + new_state.state\n    } \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":524,"y":333,"wires":[["77f560c7.fa3f9","ce6d8190.fb3c6"]]},{"id":"445c635b.31ba2c","type":"server-state-changed","z":"bd9f9cae.8a4f6","name":"Jason location","server":"c6f0f8e.947a808","entityidfilter":"device_tracker.google_maps_111034445952431641993","entityidfiltertype":"exact","haltifstate":"","outputinitially":false,"x":130,"y":318,"wires":[["66355618.7de8f8","7e484d65.c500d4"]]},{"id":"54dbcb57.8da4f4","type":"server-state-changed","z":"bd9f9cae.8a4f6","name":"Christina location","server":"c6f0f8e.947a808","entityidfilter":"device_tracker.google_maps_114963797368641553787","entityidfiltertype":"exact","haltifstate":"","outputinitially":false,"x":120,"y":384,"wires":[["66355618.7de8f8"]]},{"id":"7e484d65.c500d4","type":"switch","z":"bd9f9cae.8a4f6","name":"Jason location","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":366,"y":473,"wires":[["d472b76.fd60e48"]]},{"id":"d472b76.fd60e48","type":"api-call-service","z":"bd9f9cae.8a4f6","name":"Home sequence","server":"c6f0f8e.947a808","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_lamp\", \"transition\":\"1\", \"brightness\":\"255\"}","mergecontext":"","x":623,"y":472,"wires":[["ce6d8190.fb3c6"]]}]